<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="jdbc" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="100KB" />
        <param name="maxBackupIndex" value="5" />
        <param name="file" value="${catalina.home}/logs/service-center-jdbc.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>


    <appender name="web" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="100KB" />
        <param name="maxBackupIndex" value="5" />
        <param name="file" value="${catalina.home}/logs/service-center-web.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n" />
        </layout>
    </appender>

    <appender name="services" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="100KB" />
        <param name="maxBackupIndex" value="5" />
        <param name="file" value="${catalina.home}/logs/service-center-services.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n" />
        </layout>
    </appender>

    <logger name="com.source.it.web">
        <level value="DEBUG"/>
        <appender-ref ref="web"/>
    </logger>

    <logger name="com.source.it.services">
        <level value="DEBUG"/>
        <appender-ref ref="services"/>
    </logger>


    <logger name="com.source.it.jdbc" >
        <level value="DEBUG"/>
        <appender-ref ref="jdbc"/>
    </logger>

    <root>
        <level value="DEBUG" />
    </root>

</log4j:configuration>